asgiref==3.2.10
cairocffi==1.1.0
CairoSVG==2.4.2
cffi==1.14.0
cssselect2==0.3.0
defusedxml==0.6.0
Django==3.0.8
django-debug-toolbar==2.2
django-extensions==3.0.4
django-sslserver==0.22
html5lib==1.1
Pillow==8.1.1
pycparser==2.20
Pyphen==0.9.5
pytz==2020.1
six==1.15.0
sqlparse==0.3.1
tinycss2==1.0.2
WeasyPrint==51
webencodings==0.5.1
whitenoise==5.1.0
django-crispy-forms==1.9.2
django-extensions==3.0.5
