{% extends 'customers/base_generic.html' %}


{% block title %}
    Change Password
{% endblock title %}
    

{% block content %}
{% load crispy_forms_tags %}

<h3>Change Password</h3>
<hr>
<form method="POST" class="form">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Change Password</button>
    <a href="{% url 'customers:customer-list' %}" class="btn btn-outline-secondary"><i class="fa fa-times" aria-hidden="true"></i> Cancel</a>
</form>

{% endblock content %}
    