.branding {
	padding: 20px;
	color: gray;
	background-color: black;
}

.content {
	padding: 30px;
}

.detail-items div {
	padding: 10px;
}

.sidebar {
	padding: 20px;
	list-style: none;
	background-color: skyblue;
}

.branding h1 a {
	text-decoration: none;
}

.footer {
	background-color: black;
	color: white;
	padding: 100px;
}