html {
	scroll-behavior: smooth;
}
.login-box {
	border: solid 3px #7fbbf7;
	margin-top: 30px;
	padding: 20px;
	box-shadow: 0 8px 6px -6px black;
}

.branding {
	padding: 20px;
	color: gray;
	background-color: rgba(0,0,0, 0.13);
}

#search-name {
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
}

.content {
	padding: 30px;
}

.detail-items div {
	padding: 10px;
}

.sidebar {
	overflow: hidden;
	padding: 20px;
	background-color: rgba(0,0,0,0.1);
}

.branding h1 a {
	text-decoration: none;
}

.footer {
	color: white;
	padding: 50px;
	background: -webkit-linear-gradient(55deg, #414141, #4d4d4d);
	background: -o-linear-gradient(55deg, #414141, #4d4d4d);
	background: linear-gradient(145deg, #414141, #4d4d4d);
}

.developer {
    font-family: verdana;
    font-size: 1em;
    font-weight: 700;
    color: #818181;
}

#goToTopButton {
	display: none;
	position: fixed;
	bottom: 25px;
	right: 40px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 40px;
	font-size: 18px;
	transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

#goToTopButton:hover {
	border: solid 1px;
	box-shadow: 0 2px 25px rgba(255, 0, 130, 0.7);
}

.developer-name {
	color: #6a5a5a;
}