<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CMS | {% block title %}{% endblock title %}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min-4.5.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome5.13/css/all.css' %}">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 branding">
				<h1><a href="{% url 'customers:customer-list' %}">Welcome to Customer Management System!</a></h1>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div id="sidebar" class="col-md-2 sidebar">
				<p class="text-center border">
					Welcome:				
					{% if user.is_authenticated %}
					<b class="">{{ user.username }}</b>!
					{% endif %}
				</p>
				<hr>
				<a href="{% url 'customers:customer-list' %}" class="btn btn-primary btn-block"><i class="fa fa-home"></i> Home</a>
				{% if perms.customers.can_manage_customers %}
					<a id="add-new-customer" href="{% url 'customers:customer-create' %}" class="btn btn-success btn-block">
						<i class="fa fa-plus"></i> Add New Customer
					</a>
				{% endif %}
				{% if user.is_authenticated %}
				<a href="{% url 'logout' %}?next={{ request.path }}" class="btn btn-outline-secondary btn-block">Logout</a>
				{% endif %}
			{% block sidebar %}
			{% endblock sidebar %}
			</div>
			<div class="col-md-10 content">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
	</div>
	<div class="container-fluid footer">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center developer">Developed by: Chit Ko Ko Oo</p>
			</div>
		</div>
	</div>
</body>
</html>

<script src="{% static 'js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min-4.5.js' %}"></script>
<script src="{% static 'fontawesome5.13/js/all.js' %}"></script>
{% block javascript %}
{% endblock javascript %}