{% extends "customers/base_generic.html" %}

{% block title %}
	{% if customer %}
		Update Customer: {{ customer.name }}
	{% else %}
		Add New Customer
	{% endif %}
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
	<h3>
		{% if customer %}
			<b>Customer:</b> {{ customer.name }}
		{% else %}
			<b>New Customer</b>
		{% endif %}	
	</h3>
	<hr>
	<form action="" method="POST" class="form">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				{{ form.name|as_crispy_field }}
			</div>
			<div class="col-md-6">
				{{ form.account|as_crispy_field }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{ form.information|as_crispy_field }}
			</div>
			<div class="col-md-6">
				{{ form.remarks|as_crispy_field}}
			</div>
		</div>
		{% if customer %}
		<button type="submit" name="update-customer" class="btn btn-lg btn-warning">
			<i class="fa fa-check"></i> Update
		</button>
		{% else %}
		<button type="submit" name="new-customer" class="btn btn-lg btn-warning">
			<i class="fa fa-check"></i> Add
		</button>
		{% endif %}
		<a href="{% url 'customers:customer-list' %}" class="btn btn-lg btn-outline-secondary">
			<i class="fa fa-times"></i> Cancel
		</a>
	</form>
{% endblock content %}