{% extends "customers/base_generic.html" %}

{% block title %}
	{% if customer %}
		Update Customer: {{ customer.name }}
	{% else %}
		Add New Customer
	{% endif %}
{% endblock title %}

{% block content %}
	<h3>Customer: {{ customer.name }}</h3>
	<hr>
	<form action="" method="POST">
		{% csrf_token %}
		<table class="table table-hover table-borderless">{{ form.as_table }}</table>
		{% if customer %}
		<input type="submit" name="update-customer" value="Update" class="btn btn-warning">
		{% else %}
		<input type="submit" name="new-customer" value="Add" class="btn btn-warning">
		{% endif %}
		<a href="{% url 'customers:customer-list' %}" class="btn btn-outline-secondary">
			Cancel
		</a>
	</form>
{% endblock content %}