{% extends "customers/base_generic.html" %}

{% block title %} Home {% endblock title %}

{% block content %}
	{% if customer_list %}
	<p>There {{customer_list.count|pluralize:"is,are"}} <b> {{ customer_list.count }} </b>customer{{customer_list.count|pluralize }}.</p>
	<table class="table table-hover table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Account</th>
				<th>Information</th>
				<th>Remarks</th>
				<th>Info Created</th>
				<th>Info Updated</th>
				<th>View Detail</th>
			</tr>
		</thead>
		<tbody>
			{% for customer in customer_list %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ customer.name }}</td>
					<td>{{ customer.account }}</td>
					<td>{{ customer.information }}</td>
					<td>{{ customer.remarks }}</td>
					<td class="">{{ customer.info_created_at }}</td>
					<td class="">{{ customer.info_updated_at }}</td>
					<td><a href="{% url 'customers:customer-detail' customer.id %}" class="btn btn-sm btn-primary">View</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p class="text-danger">There is no customer right now.</p>
	{% endif %}

{% endblock content %}