{% extends "customers/base_generic.html" %}

{% block title %} Customer List {% endblock title %}

{% block content %}
	{% if perms.customers.can_manage_customers %}
	<a href="{% url 'customers:customer-create' %}" class="btn btn-primary">
		<i class="fa fa-plus"></i> Add New Customer
	</a>
	<hr>
	{% endif %}
	{% if customer_list %}
	<p>There {{customer_list.count|pluralize:"is,are"}} <b> {{ customer_list.count }} </b>customer{{customer_list.count|pluralize }}.</p>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Account</th>
				<th>Information</th>
				<th>Remarks</th>
				<th>Info Created</th>
				<th>Info Updated</th>
				<th>View</th>
				{% if perms.customers.can_manage_customers %}
				<th>Edit</th>
				<th>Delete</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for customer in customer_list %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ customer.name }}</td>
					<td>{{ customer.account }}</td>
					<td>{{ customer.information }}</td>
					<td>{{ customer.remarks }}</td>
					<td><span class="badge">{{ customer.info_created_at }}</span></td>
					<td><span class="badge">{{ customer.info_updated_at }}</span></td>
					<td>
						<a href="{% url 'customers:customer-detail' customer.id %}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a>
					</td>
					{% if perms.customers.can_manage_customers %}
					<td>
						<a href="{% url 'customers:customer-update' customer.id %}" class="btn btn-sm btn-warning"><i class="fa fa-0.5x fa-edit"></i></a>
					</td>
					<td>
						<a href="{% url 'customers:customer-delete' customer.id %}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
					</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p class="text-danger">There is no customer right now.</p>
	{% endif %}

{% endblock content %}