{% extends "customers/base_generic.html" %}

{% block title %} Customer List {% endblock title %}

{% block content %}
	{% if customer_list %}
	<p>There {{customer_list.count|pluralize:"is,are"}} totally <b> {{ customer_list.count }} </b>customer{{customer_list.count|pluralize }}.</p>
	
	<input type="text" id="search-name" onkeyup="searchName()" placeholder="Search by name">
	</input>

	
	{% if perms.customers.can_manage_customers %}
	<div class="text-right text-danger">
		<button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteAllModal">Delete All</button>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="deleteAllModal" tabindex="-1" role="dialog" aria-labelledby="deleteAllModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteAllModalLabel">Confirmation!</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p class="text-danger">Are you sure you want to delete all customers? This cannot be undone.</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> Cancel</button>
	        <a href="{% url 'customers:delete-all' %}" class="btn btn-danger"><i class="fa fa-trash"></i> Yes, Delete All Customers!</a>
	      </div>
	    </div>
	  </div>
	</div>
	{% endif %}  <!-- end of delete all customer permission -->


	<table id="customer-table" class="table table-hover">
		<thead id="customer-table-header" class="thead-dark">
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Account</th>
				<th>Information</th>
				<th>Remarks</th>
				<!--<th>Info Created</th>
				<th>Info Updated</th> -->
				<th>View</th>
				{% if perms.customers.can_manage_customers %}
				<th>Edit</th>
				<th>Delete</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for customer in customer_list %}
				<tr>
					<th>{{ forloop.counter }}</th>
					<td>{{ customer.name }}</td>
					<td>{{ customer.account }}</td>
					<td>{{ customer.information }}</td>
					<td>{{ customer.remarks }}</td>
					<!-- <td><span class="badge">{{ customer.info_created_at }}</span></td>
					<td><span class="badge">{{ customer.info_updated_at }}</span></td> -->
					<td>
						<a href="{% url 'customers:customer-detail' customer.id %}" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i> View</a>
					</td>
					{% if perms.customers.can_manage_customers %}
					<td>
						<a href="{% url 'customers:customer-update' customer.id %}" class="btn btn-sm btn-outline-warning"><i class="fa fa-0.5x fa-edit"></i> Edit</a>
					</td>
					<td>
						<a href="{% url 'customers:customer-delete' customer.id %}" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i> Delete</a>
					</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p class="text-danger">There is no customer right now.</p>
	{% endif %}

<button id="goToTopButton" onclick="topFunction();">Top</button>

{% endblock content %}

{% block javascript %}
<script>
	function searchName() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("search-name");
		filter = input.value.toUpperCase();
		table = document.getElementById("customer-table");
		tr = table.getElementsByTagName("tr");

		for (i = 0; i < tr.length; i++){
			td = tr[i].getElementsByTagName('td')[0];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}

	// Go to top
	mybutton = document.getElementById("goToTopButton");
	window.onscroll = function() {
		if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
			mybutton.style.display = "block";
		} else {
			mybutton.style.display = "none";
		}
	}
	function topFunction() {
		document.body.scrollTop = 0;  // for safari
		document.documentElement.scrollTop = 0;  // for chrome, firefox, ie and opera
	}

</script>
{% endblock javascript %}